body {
	
	padding-top: 50px;
	padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

html {
	font-family: pp-sans-big-light, Helvetica Neue, Arial, sans-serif;
}
th {
	background-color:black;
	color:white;
	text-transform:uppercase;
	text-align:center;
}
.hRow{
	text-align:center;
	
}
.hRow a {
	text-decoration: none;
	color:black;
}
.hRow tr:hover {
	
	cursor: pointer;
	background-color: #f5f5f5;
}

body {
	font-family: 'Arial Narrow', Arial, sans-serif;
	font-weight: 400;
	line-height: 1.25;
}

.SideBarDiv {
	background-color: cornflowerblue;
	color: white;
	
}
.SideBarDivTop :hover {
	background-color : lightskyblue;
	cursor: pointer;
}