@model KTG.Areas.Setup.ViewModels.SetupViewModel
@{
	ViewBag.Title = "Index";
}

<h2>Index</h2>
@using (Html.BeginForm("CitySetup", "Setup"))
{
	<div class="form-group">
		@Html.LabelFor(m => Model.State, new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.State, Model.GetStateSelector(), "Select State", new { @class = "form-control" })
			@Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
		</div>
	</div>
	<button type="submit" value="Go">Go</button>
}
