@{
	ViewBag.Title = "Home < Kosher Travel Guy";
}

<div class="jumbotron" style="text-align:center">
	<h1 style="font-family: ZeitGeisterbahn; text-align:center" >Kosher Travel Guy</h1>
	<div id="map"></div>
</div>


@section scripts{
	<script type="text/javascript" src="~/Scripts/mapdata.js"></script>
	<script type="text/javascript" src="~/Scripts/usmap.js"></script>


}
